<%- include('partials/header') %>


<div class="list">
    <form action="/" method="post">
    <input type="text" name="list">
    <input type="submit">
</form>
</div>
<%- include('partials/footer') %>