<div class="form-group">
    <form action="/newtask" method="post" class="new-task-form">
        <input type="hidden" name="listname" value="<%= listname %>" \>
        <p class="todo-item" style="font-size: 1.3em;">
            New Task : <input name="task" id="task" type="text" class="new-task" \>
            <input type="submit" value="Save" class="btn-primary button"  onclick="if(document.getElementById('task').value=='') return false;" \>
        </p>
    </form>
</div>
